# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/source/.vs
*.user
*.pb.h
*.cc
source/.vscode/c_cpp_properties.json
/source/.bin
tests/client.ts
tests/my.natvis
tests/.vscode/launch.json
tests/.vscode/settings.json
tests/.vscode/tasks.json
*.i
*.diff
source/.vscode/tasks.json
tests/.vscode/c_cpp_properties.json

